body {
  background: #ddf6e5;
  margin: 0;
}

canvas,
img {
  display: block;
}

a:hover {
  opacity: 0.7;
}

.page {
  height: 100svh;
  position: relative;
  width: 100svw;
}

.canvas {
  height: 100%;
  width: 100%;
}

.avatar {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.github {
  position: absolute;
  right: 16px;
  top: 16px;
}
