html {
  height: 100%;
}

body {
  background: #ddf6e5;
  height: 100%;
  margin: 0;
}

img {
  display: block;
}

a:hover {
  opacity: 0.7;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}

.avatar {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.github {
  position: absolute;
  right: 16px;
  top: 16px;
}
